@model FarmTrack.Models.Crop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Crop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CropName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CropName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CropType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CropType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrowthDurationInDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrowthDurationInDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedHarvestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedHarvestDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CropId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
