@model IEnumerable<FarmTrack.Models.Crop>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Harvested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CropName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CropType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlantingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrowthDurationInDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedHarvestDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(c => !c.Harvested)) {
        <tr>
                <td>
                    @if (item.Harvested)
                    {
                        <span>Harvested</span>
                    }
                    else
                    {
                        <form asp-action="Harvest" method="post">
                            <input type="hidden" name="id" value="@item.CropId" />
                            <button type="submit" class="btn btn-primary">Harvest</button>
                        </form>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CropName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CropType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlantingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrowthDurationInDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedHarvestDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CropId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CropId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CropId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
