@model FarmTrack.Models.RealCrop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RealCrop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crop.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Planting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedHarvestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedHarvestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualHarvestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualHarvestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
